<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>企业服务云.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>19CB15230DDE4701244847B1BF8B88D13A9FDC17</string>
				<key>dateExpires</key>
				<string>2019/10/22</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LTBZ329A93.com.wondersgroup.shqyfwy.cloud</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LTBZ329A93</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>企业服务云.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b61cc894-7d8c-4c6e-8f25-9ab84171ace1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LTBZ329A93</string>
				<key>name</key>
				<string>Shanghai Small &amp; Medium-sized Enterprises Development Service Center</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
