<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>热卖爆款类</key>
		<array>
			<dict>
				<key>name</key>
				<string>魔法盒子</string>
				<key>price</key>
				<string>268</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>珍珠膏</string>
				<key>price</key>
				<string>88</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>珍珠气垫cc 15g</string>
				<key>price</key>
				<string>108</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魔法盒子</string>
				<key>price</key>
				<string>268</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玫瑰纯露 150ml</string>
				<key>price</key>
				<string>60</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桂花纯露 150ml</string>
				<key>price</key>
				<string>60</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>迷迭香纯露 150ml</string>
				<key>price</key>
				<string>60</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苦橙花纯露 150ml</string>
				<key>price</key>
				<string>60</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>洋甘菊纯露 250ml</string>
				<key>price</key>
				<string>50</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>柠檬纯露 250ml</string>
				<key>price</key>
				<string>50</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>薰衣草纯露 250ml</string>
				<key>price</key>
				<string>50</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芦荟胶 50g</string>
				<key>price</key>
				<string>50</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>猴面包套盒 50g+260ml</string>
				<key>price</key>
				<string>108</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>贵妃护手霜 50g</string>
				<key>price</key>
				<string>32</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保加利亚玫瑰喷雾 120ml</string>
				<key>price</key>
				<string>88</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焕颜隔离喷雾 100ml</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玻尿酸原液 30ml</string>
				<key>price</key>
				<string>45</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝宝金水 120ml</string>
				<key>price</key>
				<string>58</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>清洁类</key>
		<array>
			<dict>
				<key>name</key>
				<string>小葡萄卸妆油 200ml</string>
				<key>price</key>
				<string>85</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>氨基酸洗面奶</string>
				<key>price</key>
				<string>60</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金盏花宝贝皂 80g</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奢华小黑砖 80g</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>古方蜂蜜皂 80g</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>古方艾草保护皂 80g</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>干湿两用绵柔洁面巾 80抽、袋</string>
				<key>price</key>
				<string>16.8</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>多功能二合一化妆棉640片/盒</string>
				<key>price</key>
				<string>15.8</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>压缩面膜 25粒/盒</string>
				<key>price</key>
				<string>25</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卸妆洁颜水</string>
				<key>price</key>
				<string>68</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>彩妆类</key>
		<array>
			<dict>
				<key>name</key>
				<string>桂花蜂蜜润唇膏 5g</string>
				<key>price</key>
				<string>22</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>樱花温变唇膏 10ml</string>
				<key>price</key>
				<string>28</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>口红 3.5g</string>
				<key>price</key>
				<string>88</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清代眉笔</string>
				<key>price</key>
				<string>38</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>眼部护理</key>
		<array>
			<dict>
				<key>name</key>
				<string>凤凰羽衣眼霜 25g</string>
				<key>price</key>
				<string>128</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>绞股蓝眼精华 20ml</string>
				<key>price</key>
				<string>128</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>睫毛营养液 10g</string>
				<key>price</key>
				<string>199</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牡丹明眸果纤眼膜 10对/盒</string>
				<key>price</key>
				<string>89</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>万用类</key>
		<array>
			<dict>
				<key>name</key>
				<string>冻干粉 3ml/组 五组一盒</string>
				<key>price</key>
				<string>75</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马油膏 10g</string>
				<key>price</key>
				<string>23</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>紫草油 15ml</string>
				<key>price</key>
				<string>45</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>萌神祛痘面霜 30g</string>
				<key>price</key>
				<string>80</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>植物祛黑头原液 30ml</string>
				<key>price</key>
				<string>100</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>套装类</key>
		<array>
			<dict>
				<key>name</key>
				<string>苹果嫩肤焕颜套装</string>
				<key>price</key>
				<string>298</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瓷美人套装</string>
				<key>price</key>
				<string>358</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>祛痘四件套</string>
				<key>price</key>
				<string>330</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>祛痘六件套</string>
				<key>price</key>
				<string>586</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>暖欣系列</key>
		<array>
			<dict>
				<key>name</key>
				<string>中药洗发水</string>
				<key>price</key>
				<string>85</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中药洗发水套盒</string>
				<key>price</key>
				<string>139</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中药牙膏 120g</string>
				<key>price</key>
				<string>38</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>暖欣闪电兽 15gX21包</string>
				<key>price</key>
				<string>520</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中药足浴包 20袋/盒</string>
				<key>price</key>
				<string>98</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
			<dict>
				<key>name</key>
				<string>胶原蛋白燕窝饮品8瓶/盒</string>
				<key>price</key>
				<string>198</string>
				<key>content</key>
				<string>五色口红</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
