<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versionNumber</key>
	<string>1.2.0</string>
	<key>buildNumber</key>
	<string>1.2.0</string>
	<key>svnRevision</key>
	<string>28193</string>
	<key>buildType</key>
	<string>beta</string>
	<key>naviURL</key>
	<string>http://api.zjyunlifang.com/ylfapi/v1.0</string>
	<key>app_name</key>
	<string>物业</string>
	<key>group_name</key>
	<string>525JWorkers</string>
	<key>platform_name</key>
	<string>crmi_525JWorkers</string>
	<key>src_name</key>
	<string>crmi_525JWorkers</string>
	<key>naviTitleColor</key>
	<string>#0e66b4</string>
	<key>naviItemColor</key>
	<string>#0e66b4</string>
	<key>baiduMapKey</key>
	<string>lpETqTU9S1xffB2DyieLvqFd</string>
	<key>hideActivateItem</key>
	<true/>
	<key>smsRegister</key>
	<false/>
	<key>localShare</key>
	<true/>
	<key>signInTextColor</key>
	<string>#090706</string>
	<key>hideNaviLeftTitle</key>
	<true/>
	<key>synchronizecat</key>
	<false/>
	<key>toptabColor</key>
	<string>#96948d</string>
	<key>toptabSelectedColor</key>
	<string>#da7898</string>
	<key>tabbarTextColor</key>
	<string>#d4c9bf</string>
	<key>tabbarSelectedTextColor</key>
	<string>#ffffff</string>
	<key>resourceBundleName</key>
	<string>525JWorkers.bundle</string>
	<key>gridViewCellHeightWidthProportion</key>
	<real>0.81875</real>
	<key>gridViewCellMargin</key>
	<real>0</real>
	<key>beacon</key>
	<false/>
	<key>beaconRange</key>
	<integer>10</integer>
	<key>beaconCallType</key>
	<integer>0</integer>
	<key>beaconRegions</key>
	<array>
		<dict>
			<key>vguidebeacon</key>
			<string>5244876E-E775-4BDD-9AD8-5BBC099A5FB9</string>
		</dict>
	</array>
	<key>lightStatusBarContent</key>
	<true/>
	<key>needFTU</key>
	<false/>
	<key>afterSalePhone</key>
	<string>400-650-8622</string>
	<key>isStartShowLoginViewController</key>
	<true/>
	<key>hideBoxToast</key>
	<true/>
	<key>needAdvertisementView</key>
	<false/>
	<key>LOGIN_MODE</key>
	<string>0</string>
	<key>miniPublisherDisableEmotion</key>
	<false/>
	<key>startAppDelegate</key>
	<string>AppDelegate</string>
	<key>rootViewController</key>
	<string>HomeViewController</string>
	<key>interfaceVersion</key>
	<string>v1.2.0</string>
</dict>
</plist>
